### Salvataggio tabelle MySql

In [1]:
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine
import json

In [2]:
engine = create_engine('mysql+pymysql://root:password@localhost/kickstarter?charset=utf8')

In [4]:
path='C:/Users/CAPO/Desktop/Tesi/Tesi_Triennale/csv/'

query="select * from temp3"
result_query=sql.read_sql_query(query,engine)
result_query.to_csv(path+'temp3.csv')

query="select * from temp4"
result_query=sql.read_sql_query(query,engine)
result_query.to_csv(path+'temp4.csv')

query="select * from tmp1"
result_query=sql.read_sql_query(query,engine)
result_query.to_csv(path+'tmp1.csv')